
BuildOut/0Harmony.dll
BuildOut/0Harmony.xml
BuildOut/Assembly-CSharp-firstpass.dll
BuildOut/Assembly-CSharp.dll
BuildOut/BepInEx.dll
BuildOut/BepInEx.Harmony.dll
BuildOut/BepInEx.Harmony.xml
BuildOut/BepInEx.xml
BuildOut/BestHTTP.dll
BuildOut/com.rlabrecque.steamworks.net.dll
BuildOut/Game.Patch.dll
BuildOut/MidiJack.dll
BuildOut/Mono.Cecil.dll
BuildOut/MonoMod.RuntimeDetour.dll
BuildOut/MonoMod.RuntimeDetour.xml
BuildOut/MonoMod.Utils.dll
BuildOut/MonoMod.Utils.xml
BuildOut/RazerChroma.dll
BuildOut/Spin.DebugOptions.dll
BuildOut/SpinCore.dll
BuildOut/SpinCore.pdb
BuildOut/SpinModdingUtilities.dll
BuildOut/SR.SRDebugger.dll
BuildOut/SSD.Build.dll
BuildOut/SSD.Game.dll
BuildOut/SSD.PlayerServiceManager.dll
BuildOut/SSD.Types.dll
BuildOut/SSD.Utility.dll
BuildOut/SSD.WacomMultiTouch.dll
BuildOut/System.Threading.Tasks.Extensions.dll
BuildOut/System.Threading.Tasks.Extensions.xml
BuildOut/TrackpadTouch.dll
BuildOut/UnbiasedTime.dll
BuildOut/UniTask.dll
BuildOut/Unity.Burst.dll
BuildOut/Unity.Burst.Unsafe.dll
BuildOut/Unity.Mathematics.dll
BuildOut/Unity.RenderPipeline.Universal.ShaderLibrary.dll
BuildOut/Unity.RenderPipelines.Core.Runtime.dll
BuildOut/Unity.RenderPipelines.Universal.Runtime.dll
BuildOut/Unity.TextMeshPro.dll
BuildOut/UnityEngine.AccessibilityModule.dll
BuildOut/UnityEngine.AIModule.dll
BuildOut/UnityEngine.AndroidJNIModule.dll
BuildOut/UnityEngine.AnimationModule.dll
BuildOut/UnityEngine.ARModule.dll
BuildOut/UnityEngine.AssetBundleModule.dll
BuildOut/UnityEngine.AudioModule.dll
BuildOut/UnityEngine.ClothModule.dll
BuildOut/UnityEngine.ClusterInputModule.dll
BuildOut/UnityEngine.ClusterRendererModule.dll
BuildOut/UnityEngine.CoreModule.dll
BuildOut/UnityEngine.CrashReportingModule.dll
BuildOut/UnityEngine.DirectorModule.dll
BuildOut/UnityEngine.dll
BuildOut/UnityEngine.DSPGraphModule.dll
BuildOut/UnityEngine.GameCenterModule.dll
BuildOut/UnityEngine.GridModule.dll
BuildOut/UnityEngine.ImageConversionModule.dll
BuildOut/UnityEngine.IMGUIModule.dll
BuildOut/UnityEngine.InputLegacyModule.dll
BuildOut/UnityEngine.InputModule.dll
BuildOut/UnityEngine.JSONSerializeModule.dll
BuildOut/UnityEngine.LocalizationModule.dll
BuildOut/UnityEngine.NVIDIAModule.dll
BuildOut/UnityEngine.ParticleSystemModule.dll
BuildOut/UnityEngine.PerformanceReportingModule.dll
BuildOut/UnityEngine.Physics2DModule.dll
BuildOut/UnityEngine.PhysicsModule.dll
BuildOut/UnityEngine.ScreenCaptureModule.dll
BuildOut/UnityEngine.SharedInternalsModule.dll
BuildOut/UnityEngine.SpriteMaskModule.dll
BuildOut/UnityEngine.SpriteShapeModule.dll
BuildOut/UnityEngine.StreamingModule.dll
BuildOut/UnityEngine.SubsystemsModule.dll
BuildOut/UnityEngine.TerrainModule.dll
BuildOut/UnityEngine.TerrainPhysicsModule.dll
BuildOut/UnityEngine.TextCoreFontEngineModule.dll
BuildOut/UnityEngine.TextCoreTextEngineModule.dll
BuildOut/UnityEngine.TextRenderingModule.dll
BuildOut/UnityEngine.TilemapModule.dll
BuildOut/UnityEngine.TLSModule.dll
BuildOut/UnityEngine.UI.dll
BuildOut/UnityEngine.UIElementsModule.dll
BuildOut/UnityEngine.UIElementsNativeModule.dll
BuildOut/UnityEngine.UIModule.dll
BuildOut/UnityEngine.UNETModule.dll
BuildOut/UnityEngine.UnityAnalyticsModule.dll
BuildOut/UnityEngine.UnityConnectModule.dll
BuildOut/UnityEngine.UnityCurlModule.dll
BuildOut/UnityEngine.UnityWebRequestAssetBundleModule.dll
BuildOut/UnityEngine.UnityWebRequestAudioModule.dll
BuildOut/UnityEngine.UnityWebRequestModule.dll
BuildOut/UnityEngine.UnityWebRequestTextureModule.dll
BuildOut/UnityEngine.UnityWebRequestWWWModule.dll
BuildOut/UnityEngine.VehiclesModule.dll
BuildOut/UnityEngine.VFXModule.dll
BuildOut/UnityEngine.VideoModule.dll
BuildOut/UnityEngine.VirtualTexturingModule.dll
BuildOut/UnityEngine.VRModule.dll
BuildOut/UnityEngine.WindModule.dll
BuildOut/UnityEngine.XRModule.dll
obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/SpinCore.csproj.AssemblyReference.cache
obj/Debug/SpinCore.csproj.CopyComplete
obj/Debug/SpinCore.csproj.CoreCompileInputs.cache
obj/Debug/SpinCore.csproj.FileListAbsolute.txt
obj/Debug/SpinCore.dll
obj/Debug/SpinCore.pdb
packages/Microsoft.Extensions.DependencyInjection.Abstractions.6.0.0/.signature.p7s
packages/Microsoft.Extensions.DependencyInjection.Abstractions.6.0.0/buildTransitive/netcoreapp2.0/Microsoft.Extensions.DependencyInjection.Abstractions.targets
packages/Microsoft.Extensions.DependencyInjection.Abstractions.6.0.0/buildTransitive/netcoreapp3.1/_._
packages/Microsoft.Extensions.DependencyInjection.Abstractions.6.0.0/Icon.png
packages/Microsoft.Extensions.DependencyInjection.Abstractions.6.0.0/lib/net461/Microsoft.Extensions.DependencyInjection.Abstractions.dll
packages/Microsoft.Extensions.DependencyInjection.Abstractions.6.0.0/lib/net461/Microsoft.Extensions.DependencyInjection.Abstractions.xml
packages/Microsoft.Extensions.DependencyInjection.Abstractions.6.0.0/lib/net6.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
packages/Microsoft.Extensions.DependencyInjection.Abstractions.6.0.0/lib/net6.0/Microsoft.Extensions.DependencyInjection.Abstractions.xml
packages/Microsoft.Extensions.DependencyInjection.Abstractions.6.0.0/lib/netstandard2.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
packages/Microsoft.Extensions.DependencyInjection.Abstractions.6.0.0/lib/netstandard2.0/Microsoft.Extensions.DependencyInjection.Abstractions.xml
packages/Microsoft.Extensions.DependencyInjection.Abstractions.6.0.0/lib/netstandard2.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
packages/Microsoft.Extensions.DependencyInjection.Abstractions.6.0.0/lib/netstandard2.1/Microsoft.Extensions.DependencyInjection.Abstractions.xml
packages/Microsoft.Extensions.DependencyInjection.Abstractions.6.0.0/LICENSE.TXT
packages/Microsoft.Extensions.DependencyInjection.Abstractions.6.0.0/Microsoft.Extensions.DependencyInjection.Abstractions.6.0.0.nupkg
packages/Microsoft.Extensions.DependencyInjection.Abstractions.6.0.0/THIRD-PARTY-NOTICES.TXT
packages/Microsoft.Extensions.DependencyInjection.Abstractions.6.0.0/useSharedDesignerContext.txt
packages/System.Runtime.CompilerServices.Unsafe.4.5.3/.signature.p7s
packages/System.Runtime.CompilerServices.Unsafe.4.5.3/lib/net461/System.Runtime.CompilerServices.Unsafe.dll
packages/System.Runtime.CompilerServices.Unsafe.4.5.3/lib/net461/System.Runtime.CompilerServices.Unsafe.xml
packages/System.Runtime.CompilerServices.Unsafe.4.5.3/lib/netcoreapp2.0/System.Runtime.CompilerServices.Unsafe.dll
packages/System.Runtime.CompilerServices.Unsafe.4.5.3/lib/netcoreapp2.0/System.Runtime.CompilerServices.Unsafe.xml
packages/System.Runtime.CompilerServices.Unsafe.4.5.3/lib/netstandard1.0/System.Runtime.CompilerServices.Unsafe.dll
packages/System.Runtime.CompilerServices.Unsafe.4.5.3/lib/netstandard1.0/System.Runtime.CompilerServices.Unsafe.xml
packages/System.Runtime.CompilerServices.Unsafe.4.5.3/lib/netstandard2.0/System.Runtime.CompilerServices.Unsafe.dll
packages/System.Runtime.CompilerServices.Unsafe.4.5.3/lib/netstandard2.0/System.Runtime.CompilerServices.Unsafe.xml
packages/System.Runtime.CompilerServices.Unsafe.4.5.3/LICENSE.TXT
packages/System.Runtime.CompilerServices.Unsafe.4.5.3/ref/net461/System.Runtime.CompilerServices.Unsafe.dll
packages/System.Runtime.CompilerServices.Unsafe.4.5.3/ref/net461/System.Runtime.CompilerServices.Unsafe.xml
packages/System.Runtime.CompilerServices.Unsafe.4.5.3/ref/netstandard1.0/System.Runtime.CompilerServices.Unsafe.dll
packages/System.Runtime.CompilerServices.Unsafe.4.5.3/ref/netstandard1.0/System.Runtime.CompilerServices.Unsafe.xml
packages/System.Runtime.CompilerServices.Unsafe.4.5.3/ref/netstandard2.0/System.Runtime.CompilerServices.Unsafe.dll
packages/System.Runtime.CompilerServices.Unsafe.4.5.3/ref/netstandard2.0/System.Runtime.CompilerServices.Unsafe.xml
packages/System.Runtime.CompilerServices.Unsafe.4.5.3/System.Runtime.CompilerServices.Unsafe.4.5.3.nupkg
packages/System.Runtime.CompilerServices.Unsafe.4.5.3/THIRD-PARTY-NOTICES.TXT
packages/System.Runtime.CompilerServices.Unsafe.4.5.3/useSharedDesignerContext.txt
packages/System.Runtime.CompilerServices.Unsafe.4.5.3/version.txt
packages/System.Runtime.InteropServices.RuntimeInformation.4.3.0/.signature.p7s
packages/System.Runtime.InteropServices.RuntimeInformation.4.3.0/dotnet_library_license.txt
packages/System.Runtime.InteropServices.RuntimeInformation.4.3.0/lib/MonoAndroid10/_._
packages/System.Runtime.InteropServices.RuntimeInformation.4.3.0/lib/MonoTouch10/_._
packages/System.Runtime.InteropServices.RuntimeInformation.4.3.0/lib/net45/System.Runtime.InteropServices.RuntimeInformation.dll
packages/System.Runtime.InteropServices.RuntimeInformation.4.3.0/lib/netstandard1.1/System.Runtime.InteropServices.RuntimeInformation.dll
packages/System.Runtime.InteropServices.RuntimeInformation.4.3.0/lib/win8/System.Runtime.InteropServices.RuntimeInformation.dll
packages/System.Runtime.InteropServices.RuntimeInformation.4.3.0/lib/wpa81/System.Runtime.InteropServices.RuntimeInformation.dll
packages/System.Runtime.InteropServices.RuntimeInformation.4.3.0/lib/xamarinios10/_._
packages/System.Runtime.InteropServices.RuntimeInformation.4.3.0/lib/xamarinmac20/_._
packages/System.Runtime.InteropServices.RuntimeInformation.4.3.0/lib/xamarintvos10/_._
packages/System.Runtime.InteropServices.RuntimeInformation.4.3.0/lib/xamarinwatchos10/_._
packages/System.Runtime.InteropServices.RuntimeInformation.4.3.0/ref/MonoAndroid10/_._
packages/System.Runtime.InteropServices.RuntimeInformation.4.3.0/ref/MonoTouch10/_._
packages/System.Runtime.InteropServices.RuntimeInformation.4.3.0/ref/netstandard1.1/System.Runtime.InteropServices.RuntimeInformation.dll
packages/System.Runtime.InteropServices.RuntimeInformation.4.3.0/ref/xamarinios10/_._
packages/System.Runtime.InteropServices.RuntimeInformation.4.3.0/ref/xamarinmac20/_._
packages/System.Runtime.InteropServices.RuntimeInformation.4.3.0/ref/xamarintvos10/_._
packages/System.Runtime.InteropServices.RuntimeInformation.4.3.0/ref/xamarinwatchos10/_._
packages/System.Runtime.InteropServices.RuntimeInformation.4.3.0/runtimes/aot/lib/netcore50/System.Runtime.InteropServices.RuntimeInformation.dll
packages/System.Runtime.InteropServices.RuntimeInformation.4.3.0/runtimes/unix/lib/netstandard1.1/System.Runtime.InteropServices.RuntimeInformation.dll
packages/System.Runtime.InteropServices.RuntimeInformation.4.3.0/runtimes/win/lib/net45/System.Runtime.InteropServices.RuntimeInformation.dll
packages/System.Runtime.InteropServices.RuntimeInformation.4.3.0/runtimes/win/lib/netcore50/System.Runtime.InteropServices.RuntimeInformation.dll
packages/System.Runtime.InteropServices.RuntimeInformation.4.3.0/runtimes/win/lib/netstandard1.1/System.Runtime.InteropServices.RuntimeInformation.dll
packages/System.Runtime.InteropServices.RuntimeInformation.4.3.0/System.Runtime.InteropServices.RuntimeInformation.4.3.0.nupkg
packages/System.Runtime.InteropServices.RuntimeInformation.4.3.0/ThirdPartyNotices.txt
packages/System.Threading.Tasks.Extensions.4.5.4/.signature.p7s
packages/System.Threading.Tasks.Extensions.4.5.4/lib/MonoAndroid10/_._
packages/System.Threading.Tasks.Extensions.4.5.4/lib/MonoTouch10/_._
packages/System.Threading.Tasks.Extensions.4.5.4/lib/net461/System.Threading.Tasks.Extensions.dll
packages/System.Threading.Tasks.Extensions.4.5.4/lib/net461/System.Threading.Tasks.Extensions.xml
packages/System.Threading.Tasks.Extensions.4.5.4/lib/netcoreapp2.1/_._
packages/System.Threading.Tasks.Extensions.4.5.4/lib/netstandard1.0/System.Threading.Tasks.Extensions.dll
packages/System.Threading.Tasks.Extensions.4.5.4/lib/netstandard1.0/System.Threading.Tasks.Extensions.xml
packages/System.Threading.Tasks.Extensions.4.5.4/lib/netstandard2.0/System.Threading.Tasks.Extensions.dll
packages/System.Threading.Tasks.Extensions.4.5.4/lib/netstandard2.0/System.Threading.Tasks.Extensions.xml
packages/System.Threading.Tasks.Extensions.4.5.4/lib/portable-net45+win8+wp8+wpa81/System.Threading.Tasks.Extensions.dll
packages/System.Threading.Tasks.Extensions.4.5.4/lib/portable-net45+win8+wp8+wpa81/System.Threading.Tasks.Extensions.xml
packages/System.Threading.Tasks.Extensions.4.5.4/lib/xamarinios10/_._
packages/System.Threading.Tasks.Extensions.4.5.4/lib/xamarinmac20/_._
packages/System.Threading.Tasks.Extensions.4.5.4/lib/xamarintvos10/_._
packages/System.Threading.Tasks.Extensions.4.5.4/lib/xamarinwatchos10/_._
packages/System.Threading.Tasks.Extensions.4.5.4/LICENSE.TXT
packages/System.Threading.Tasks.Extensions.4.5.4/ref/MonoAndroid10/_._
packages/System.Threading.Tasks.Extensions.4.5.4/ref/MonoTouch10/_._
packages/System.Threading.Tasks.Extensions.4.5.4/ref/netcoreapp2.1/_._
packages/System.Threading.Tasks.Extensions.4.5.4/ref/xamarinios10/_._
packages/System.Threading.Tasks.Extensions.4.5.4/ref/xamarinmac20/_._
packages/System.Threading.Tasks.Extensions.4.5.4/ref/xamarintvos10/_._
packages/System.Threading.Tasks.Extensions.4.5.4/ref/xamarinwatchos10/_._
packages/System.Threading.Tasks.Extensions.4.5.4/System.Threading.Tasks.Extensions.4.5.4.nupkg
packages/System.Threading.Tasks.Extensions.4.5.4/THIRD-PARTY-NOTICES.TXT
packages/System.Threading.Tasks.Extensions.4.5.4/useSharedDesignerContext.txt
packages/System.Threading.Tasks.Extensions.4.5.4/version.txt
.vs/SpinCore/v16/.suo
BepInEx
BuildOut
.idea
obj
